<footer class="footer">
  <small>
    The <a href="www.hyperdia.com/en">Japan travel tips website</a>
    by <a href="http://www.shiyason.com">Shiyason</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact",  contact_path %></li>
      <li><a href="http://www.shiyason.com">Blog</a></li>
    </ul>
  </nav>
</footer>